<div id="end_repeat_block" style="display: none;">
		<p>End: <%= select(:end, :repeat, [["After", "after"], ["On date", "on date"]], :prompt => "select option") %> </p
		<div id="after" style="display: none;" >
			<%= f.text_field :count ,:size => 2 %>
			times
		</div>
		<div id="on_date" style="display: none;"> 
			<%= f.date_select(:until,
						 	  :default  => {:day => 31},
							  :order => [:month, :day, :year])  -%> 
		</div>
</div>
