	<div id="repeat">
	 	Repeat: <%= select(:event_template, :repeat, 
						   [['None', 'none'],
						   ['Every day', 'daily'], ['Every week', 'weekly'],[ 'Every month', 'monthly'], ['Every year',  'yearly'], 	
						   ['Custom...', 'custom']], 		
						   {:selected => 'none'}) %>
	</div>

