#body {
height: 500px;
}

label {
color: #333333;
display: inline;
margin-bottom: 2px;
font-size: 88%;
}


input, textarea, select {
-moz-border-radius-bottomright: 7px;
-moz-border-radius-topleft: 7px;
-moz-box-sizing: border-box;
background-color: #F4F4F4;
background-image: url(/images/button_repeat.png);
background-position: 0 -1200px;
background-repeat: repeat-x;
border: 1px solid #CCCCCC;
color: #333333;
font-size: 12px;
margin: 0 0 0.3em;
padding: 3px 0 3px 3px;
}

label.error {
color:#FF6600;
background: none;
border: none;
line-height:1.3em;
margin:0 !important;
position:relative;
top:-2px;
background-color: #FFEAC8;
background-image:url(/images/input_feedback.png);
background-position:100% -328px;
background-repeat:no-repeat;
border: 1px solid #FF6600;
-moz-border-radius: 0px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-box-sizing:border-box;
padding-right: 25px;
}

.max_days {color: black;}

input:focus {background-color: #DAE8F6;}

input:hover, label:hover, input[type="checkbox"]:hover, input[type="submit"]:hover, button:hover { cursor: pointer;}

input.error.title, input.error.valid.title, select.error.title, select.error.valid.title, textarea.error.title, textarea.error.valid.title { background-position:100% -325px; }

input.error, input.error.valid, select.error, select.error.valid, textarea.error, textarea.error.valid {
background-color:#FFEAC8;
border-color:#FF6600;
-moz-border-radius: 0px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
}

#popup_content.alert {
background-position: 20px 4px;
}
.schedule {
padding: 10px 0 0 20px;
}

#class {
float: left;
padding: 10px 0 0 0;
}

.remove_set {
cursor: pointer;
margin-left: 10px;
vertical-align: middle;
}

.no_pointer { cursor: default !important; color: black; background-color: #B0D4B0;}

.create_button{margin:20px 0 0 20px;}

#sched_title {
margin-left: 20px;
}

.add_sched {
cursor: pointer;
}

.add_sched img {
vertical-align: text-top;
}
.ui-widget {
font-size: 13px !important;
}

.ui-button .ui-button-text {
display: inline;
line-height: 1.4;
}

.ui-button {
height:24px;
left:-24px !important;
}

#buttons {
float: left;
margin: 17px 0 0 20px;
width: 152px;
}

.border {
border: 1px solid #999;
}

#repeat_select {
margin: 20px 0px 20px 20px;
}

.repeat {
border-bottom: 1px solid #333;
}

#info_box {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: #B0D4B0 none repeat scroll 0 0;
border: 1px solid #737B73;
font-size: 110%;
padding: 8px 6px;
margin: 7px 0 0 159px;
text-align: center;
display: inline;
}

.repeat_border {
border-bottom: 1px solid #E0F1E0;
}

#range {
margin: 10px 0 0 20px;
}

#interval_select {
margin: 20px 0 0 15px;
}

#repeat_end_after {
margin-top: 6px;
padding-left: 188px;
}


/* Time Picker */
div.time-picker {
font: bold 0.8em  Segoe UI, Arial, sans-serif;
position: absolute;
height: 200px;
width: 4em; /* needed for IE */
  overflow: auto;
background: #feeebd;
border: 1px solid #8e846b;
z-index: 99;
margin-top: 20px;
color: #383838;
}
div.time-picker-12hours {
width: 6em; /* needed for IE */
}

div.time-picker ul {
list-style-type: none;
margin: 0;
padding: 0;
}
div.time-picker li {
padding: 1px;
cursor: pointer;
}
div.time-picker li.selected {
background: #316AC5;
color: #fff;
}

#dup_date_errors {
margin-left:20px;
margin-top:35px;
}