/* ie png fix */
 img, div { behavior: url(/iepngfix/iepngfix.htc) }

ul {list-style: none !important;}
		
body { 
	color:#353535 !important;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:12px !important;
	height:100% !important;
	line-height:18px !important;
	margin:0 !important;
	padding:0 !important;
	background: #FFF url('/images/Backgrounds/body_background.jpg') no-repeat top center !important;
}

#admin_nav {
						position: absolute;
						top: 0;
						left: 183px;
}

#admin_nav li { float: left;}
#admin_nav li a {cursor: pointer;
				 display:block;
				 height: 48px;
				 width: 75px; 
				 text-indent: -9999px; 
				 overflow: hidden;  
								}
#admin_nav li#edit_icon {background: transparent url(/images/edit.png) no-repeat; }
#admin_nav li#back_end {background: transparent url(/images/back_end.png) no-repeat; margin-left: 30px;}


#menu_bar {background: transparent url('/images/Backgrounds/menu_bar.png') repeat-x top center !important; 	margin-top: 53px;}
#home { text-indent: -9999px; margin-top: -46px; margin-left: 10px; height: 162px; background: transparent url(/images/Backgrounds/logo.png) no-repeat}
#home:hover {background-position: 0 -194px;}


#menu { margin-top: -118px; margin-left: 219px; padding: 0;}
#menu li { float: left;}
#menu li a {
						cursor: pointer;
						display:block;
						text-indent: 9999px;
						height: 38px;
						line-height: 38px;	
						overflow: hidden;  
						background-image: url(/images/Backgrounds/menu.png);					
}

	/* BUTTONS */
#menu li#about_us a { background-position: 0 0; width: 87px;}
#menu li#classes a { background-position: -89px 0; width: 71px;}
#menu li#personal_training a { background-position: -164px 0; width: 137px;}
#menu li#schedule a { background-position: -304px 0; width: 83px; }
#menu li#rates a { background-position: -390px 0; width: 60px;}
#menu li#specials a { background-position: -451px 0; width: 70px;}
#menu li#staff a { background-position: -524px 0; width: 50px;}
#menu li#news a { background-position: -572px 0;  width: 55px;}
#menu li#contact_us a { background-position: -626px 0; width: 87px; } 

	/* Hover */
#menu li#about_us a:hover { background-position: 0 -120px; width: 87px;}
#menu li#classes a:hover { background-position: -89px -120px; width: 71px;}
#menu li#personal_training a:hover { background-position: -164px -120px; width: 137px;}
#menu li#schedule a:hover { background-position: -304px -120px; width: 83px; }
#menu li#rates a:hover { background-position: -390px -120px; width: 60px;}
#menu li#specials a:hover { background-position: -451px -120px; width: 70px;}
#menu li#staff a:hover { background-position: -524px -120px; width: 50px;}
#menu li#news a:hover { background-position: -572px -120px;  width: 55px;}
#menu li#contact_us a:hover { background-position: -626px -120px; width: 87px; }

	/* Clicked */
#menu li#about_us a:active { background-position: 0 -37px; width: 87px;}
#menu li#classes a:active { background-position: -89px -37px; width: 71px;}
#menu li#personal_training a:active { background-position: -164px -37px; width: 137px;}
#menu li#schedule a:active { background-position: -304px -37px; width: 83px; }
#menu li#rates a:active { background-position: -390px -37px; width: 60px;}
#menu li#specials a:active { background-position: -451px -37px; width: 70px;}
#menu li#staff a:active { background-position: -524px -37px; width: 50px;}
#menu li#news a:active { background-position: -572px -37px;  width: 55px;}
#menu li#contact_us a:active { background-position: -626px -37px; width: 87px; }

	/* Current Page */
#menu.about_us li#about_us a { background-position: 0 -76px; width: 87px;}
#menu.classes li#classes a { background-position: -89px -76px; width: 71px;}
#menu.personal_training li#personal_training a { background-position: -164px -76px; width: 137px;}
#menu.schedule li#schedule a { background-position: -304px -76px; width: 83px;}
#menu.rates li#rates a { background-position: -390px -76px; width: 60px;}
#menu.specials li#specials a { background-position: -451px -76px; width: 70px;}
#menu.staff li#staff a { background-position: -524px -76px; width: 50px;}
#menu.news li#news a { background-position: -572px -76px;  width: 55px;}
#menu.contact_us li#contact_us a { background-position: -626px -76px; width: 87px; }

#page_body {
	position: relative;
}
#top_content_page {
	position: relative;
 	border: 1px solid #353535;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FDFCFA;
	height:378px;
	padding:15px;
	margin-left:262px;
	z-index: 999;
}

#address_bar {
  text-indent: -9999px;
	height:93px;
 	background: url(/images/Backgrounds/address_bar.png) no-repeat;
	margin-left: 405px;
}

#lower_corner_box {
 	border: 1px solid #353535;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FDFCFA;
	height: 168px;
	width:308px;
	z-index: 1;
	position: absolute;
	top: 504px;
	left: 14px;
}

#gallery img {
  display: block;
	width: 250px; 
	height: 168px; 
	margin-left: 30px;
}


	* html #page_body {
	height: 100%;
	}


	h2 {
		color:#FFFFFF !important;
		font-size:18px !important;
		font-weight:normal !important;
		line-height:22px !important;
		margin:0 !important;
		padding:0 0 5px !important;
		position:relative !important;
		z-index:4 !important;
	}

	.h2bkg {
		color:#F66818;
		font-family:Georgia,"Nimbus Roman No9 L",serif;
		font-size:18px;
		font-weight:normal;
		left:-1px;
		line-height:22px;
		margin:0;
		padding:0 0 5px;
		position:absolute;
		top:-1px;
		z-index:2;
	}


	#edit_page_box {
		border: 1px solid #353535;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #FDFCFA;
		height: 522px;
		padding: 20px;
		position: absolute;
		top: 105px;
		left: 30px;
		width: 847px;
	}

	#page_editor_box {
	 width: 612px;
	 margin-left:17px;
	margin-top:20px;
	}

	#upload_box {
		border-bottom:2px solid brown;
		height: 117px;
		padding-left: 10px;
	}
	
	
	.left {float: left;}
	.right {float: right;}


	.page_pic_thumb {
		float:left;
		padding:5px;
		position: relative;
		margin-right: 17px;
	}

	.delete_icon, .closebox {
	 position: absolute;
	 z-index: 9999;
	 right: -6px;
	 top: -8px;
	 cursor: pointer;
	}

	#upload_pic_form {
		position:absolute;
		right:30px;
		top:33px;
	}

	p.note a {
		text-decoration: none;
	}

	/* Scrollable categories */
	#main_navi {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#main_navi li { float: left; display:inline;}
	
	#main_navi li a {background: url(/images/classes_icons.png) no-repeat; 
										height: 87px;
										width: 178px;
										cursor:pointer;
										overflow: hidden;
										display: block;										
										text-decoration: none !important;
										text-indent: -9999px;
										}

	#main_navi li a#yoga {background-position: 0px 0px;}
	#main_navi li a#cardio {background-position:-184px 0px;}
	#main_navi li a#flex {background-position:-353px 0px; width: 230px;}

	#main_navi li a#yoga:hover {background-position: 0px -127px;}
	#main_navi li a#cardio:hover {background-position: -184px -127px;}
	#main_navi li a#flex:hover {background-position: -353px -127px; width: 230px;}

	#main_navi li.active  a#yoga {background-position: 0px -246px; height: 106px;}
	#main_navi li.active  a#cardio {background-position:-184px -247px; height: 106px;}
	#main_navi li.active  a#flex {background-position:-353px -246px; width: 230px; height: 106px;}


	#main_navi_rates {
		list-style: none;
		margin-left:30px;
		margin-top:-36px;
	}

	#main_navi_rates li {
		float: left;
		height:65px !important;
		line-height: 65px;
	}
	
		#main_navi_rates li a {
		cursor: pointer;
		display:block;
		background:transparent url(/images/rates_icons.png) no-repeat scroll 0 0;
		overflow: hidden;  
		text-decoration: none !important;
		text-indent: -9999px;
		}

	#main_navi_rates li a#home_rates {background: url(/images/icons/home_small.png) no-repeat; width: 48px !important;}
	
	#main_navi_rates li a#group 	 {background-position: 0px 0px; width: 82px!important;}
	#main_navi_rates li a#gym			 {background-position: -112px 0px;  width:75px!important;}
	#main_navi_rates li a#personal {background-position: -216px 0px; width:151px!important;}
	#main_navi_rates li a#unlimited{background-position: -389px 0px; width: 166px!important;}


	#main_navi_rates li a#group:hover  	 {background-position: 0px -70px; width: 82px!important;}
	#main_navi_rates li a#gym:hover 			 {background-position: -112px -70px;  width:75px!important;}
	#main_navi_rates li a#personal:hover  {background-position: -216px -70px; width:151px!important;}
	#main_navi_rates li a#unlimited:hover {background-position: -389px -70px; width: 166px!important;}
	
	#main_navi_rates li.active a#group 	 {background-position: 0px -164px; width: 82px!important;}
	#main_navi_rates li.active a#gym			 {background-position: -112px -164px;  width:75px!important;}
	#main_navi_rates li.active a#personal {background-position: -216px -164px; width:151px!important;}
	#main_navi_rates li.active a#unlimited{background-position: -389px -164px; width: 166px!important;}
	

	#main { 
	    position:relative; 
	    overflow:hidden; 
	    height: 255px; 
			clear: both;
	}

	ul.navi li {
		display: inline;
		margin-bottom: 5px !important;
	}
	
	ul.navi li a {
		text-decoration: none !important;
		margin-right: 5px;
		color: brown;
	}
	/* root element for pages */ 
	#pages { 
	    position:absolute; 
	    height:20000em; 
	} 
	
	/* single page */
	.page {
		width:610px;
		height:245px;
		margin-bottom: 40px;
		}

	/* root element for horizontal scrollables this element stay still while scrolling*/ 
	.scrollable {
		float: left;
		height: 200px; 
		width: 510px;
		position:relative; 
	 	overflow: hidden; 
		margin-left: 20px;
	}

	/* root element for scrollable items */ 
	.scrollable div.items { 
	    width:20000em; 
	    position:absolute; 
	    clear:both; 
	}
	
	.scrollable div.items div.item { 
	  float:left; 
		width: 500px;
		padding:10px;
	}

	/* prev, next, prevPage and nextPage buttons */
	a.browse {
		background:url(/images/scrollable/arrow/circle_arrows.png) no-repeat;
		display:block;
		width:31px;
		height:32px;
		cursor:pointer;
		text-indent: -9999px;
		margin-top: 78px;
	}

	/* right */
	a.right 				{ background-position: 100% -32px;; clear:right; margin-left: 0px; }

	/* left */
	a.left					{ background-position: 0 -32px; margin-left: 0px; } 


	/* up and down */
	a.up, a.down		{ 
		background:url(/images/scrollable/vert_large.png) no-repeat; 
		float: none;
		margin: 10px 50px;
	}

		/* up */
		a.up:hover  		{ background-position:-30px 0; }
		a.up:active  		{ background-position:-60px 0; }

		/* down */
		a.down 					{ background-position: 0 -30px; }
		a.down:hover  	{ background-position:-30px -30px; }
		a.down:active  	{ background-position:-60px -30px; } 


		/* disabled navigational button */
		a.disabled { visibility:hidden !important;	}

		/* the overlayed element */
		.apple_overlay {
			display:none;
			background-image:url(/images/overlay/transparent.png);
			padding:35px;	
			font-size:11px;
			color: #FDFCFA ;
			width: 398px;
			height: 340px;
		}

		.apple_overlay h3{ color: #FDFCFA;}

		/* default close button positioned on upper right corner */
		.apple_overlay div.close {
			background-image:url(/images/overlay/close.png);
			position:absolute; right:5px; top:5px;
			cursor:pointer;
			height:35px;
			width:35px;
		}

		.req {
			color:red !important;
			font-weight:bold;
			font-size: small;
			vertical-align:top;
			margin:0;
			padding: 0 5px 0 0;
		}


.full_description {
	clear: both;
	display: none;
	z-index: 10000;
	background-color:#333; 
  width:675px;     
  min-height:500px; 
  border:1px solid #666;    
  -moz-box-shadow:0 0 90px 5px #000; 
  -webkit-box-shadow: 0 0 90px #000;
}

.full_description .close { 
    background-image:url(../img/overlay/close.png); 
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}

.rates_table {
	margin-left: 65px;
}

ul#pages_navigator { 
										 position:relative;
										 left:377px;
										 top:-16px;
 }
ul#pages_navigator li {display: inline; text-indent: -9999px;}
ul#pages_navigator li a { 
	background:transparent url(/images/back_next.png) no-repeat scroll 0 0;
 	float: left;
 	width: 112px; 
	height: 36px; 
	overflow: hidden;
	cursor: pointer; 
}
ul#pages_navigator li a.next_page { background-position:-116px -17px;}
ul#pages_navigator li a.prev_page { background-position: 0px -17px;
	position:relative;
	right:438px;
}

#instructors_staff_list{
	width: 52%;
	float: left;
	border-right:1px solid #999999;
}

#pt_staff_list {
	float:right;
	width:47%;
}

a {text-decoration: none !important; color: brown !important; font-size: 115% !important;}
a:hover {color: red !important; font-weight: bold;}

#news_flash {
	padding: 8px;
	color:DimGray;
	font-size:131%;
	height:100px;
	margin-left:405px;
	position:relative;
	text-align:left;
	top:37px;
	width:500px;
}

#news_flash a {text-decoration: none !important; color: #F66818 !important; font-size: 85% !important}