.red {border: 3px solid red;}
.green {border: 3px solid green;}
.blue {border: 3px solid blue;}

/* ie png fix */
 img, div { behavior: url(/iepngfix/iepngfix.htc) }

ul {list-style: none !important;}
		
body { 
	color:#353535 !important;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:12px !important;
	height:100% !important;
	line-height:18px !important;
	margin:0 !important;
	padding:0 !important;
	background: #FFF url('/images/Backgrounds/body_background.jpg') no-repeat top center !important;
}

#menu_bar {background: transparent url('/images/Backgrounds/menu_bar.png') repeat-x top center !important; 	margin-top: 53px;}
#home { margin-top: -46px; margin-left: 10px; height: 185px; background: transparent url(/images/Backgrounds/logo.png) no-repeat}


#menu { margin-top: -139px; margin-left: 219px; padding: 0;}
#menu li { float: left;}
#menu li a {
						cursor: pointer;
						display:block;
						text-indent: 9999px;
						height: 38px;
						line-height: 38px;	
						overflow: hidden;  
						background-image: url(/images/Backgrounds/menu.png);					
}

	/* BUTTONS */
#menu li#about_us a { background-position: 0 0; width: 87px;}
#menu li#classes a { background-position: -89px 0; width: 71px;}
#menu li#personal_training a { background-position: -164px 0; width: 137px;}
#menu li#schedule a { background-position: -304px 0; width: 83px; }
#menu li#rates a { background-position: -390px 0; width: 60px;}
#menu li#specials a { background-position: -451px 0; width: 70px;}
#menu li#staff a { background-position: -524px 0; width: 50px;}
#menu li#news a { background-position: -572px 0;  width: 55px;}
#menu li#contact_us a { background-position: -626px 0; width: 87px; } 

	/* Hover */
#menu li#about_us a:hover { background-position: 0 -120px; width: 87px;}
#menu li#classes a:hover { background-position: -89px -120px; width: 71px;}
#menu li#personal_training a:hover { background-position: -164px -120px; width: 137px;}
#menu li#schedule a:hover { background-position: -304px -120px; width: 83px; }
#menu li#rates a:hover { background-position: -390px -120px; width: 60px;}
#menu li#specials a:hover { background-position: -451px -120px; width: 70px;}
#menu li#staff a:hover { background-position: -524px -120px; width: 50px;}
#menu li#news a:hover { background-position: -572px -120px;  width: 55px;}
#menu li#contact_us a:hover { background-position: -626px -120px; width: 87px; }

	/* Clicked */
#menu li#about_us a:active { background-position: 0 -37px; width: 87px;}
#menu li#classes a:active { background-position: -89px -37px; width: 71px;}
#menu li#personal_training a:active { background-position: -164px -37px; width: 137px;}
#menu li#schedule a:active { background-position: -304px -37px; width: 83px; }
#menu li#rates a:active { background-position: -390px -37px; width: 60px;}
#menu li#specials a:active { background-position: -451px -37px; width: 70px;}
#menu li#staff a:active { background-position: -524px -37px; width: 50px;}
#menu li#news a:active { background-position: -572px -37px;  width: 55px;}
#menu li#contact_us a:active { background-position: -626px -37px; width: 87px; }

	/* Current Page */
#menu.about_us li#about_us a { background-position: 0 -76px; width: 87px;}
#menu.classes li#classes a { background-position: -89px -76px; width: 71px;}
#menu.personal_training li#personal_training a { background-position: -164px -76px; width: 137px;}
#menu.schedule li#schedule a { background-position: -304px -76px; width: 83px;}
#menu.rates li#rates a { background-position: -390px -76px; width: 60px;}
#menu.specials li#specials a { background-position: -451px -76px; width: 70px;}
#menu.staff li#staff a { background-position: -524px -76px; width: 50px;}
#menu.news li#news a { background-position: -572px -76px;  width: 55px;}
#menu.contact_us li#contact_us a { background-position: -626px -76px; width: 87px; }