<% form_for :person, :action => "update", :html => { :multipart => true} do |f| -%>
  <p>Photo:</p>
	<p><%= f.file_field :photo %></p>
	<%= f.submit "Upload", :disable_with => 'Uploading...' %>
<% end -%>
