<%= f.label :password, "Set your password", :class => "desc" %>	<span class="req">*</span>
<br />
<%= f.password_field :password %><br />
<label class="note">Must be at least 6 characters long.</label>
<br />
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %><br />