<div class="page">
	<ul class="navi">
			<% classes.each do |cls| %>
				<li><%= link_to cls.title, "#", :class => "class_link" %></li> 
				<%= classes.last == cls ? "" : "|" %>
			<% end -%>
	</ul>

	
	<a class="prev_horizontal browse left">Previous <<</a> 				
	<div class="scrollable"> <!-- inner scrollable -->
		<div class="items">
			<% classes.each do |cls| %>
				<div class="item">
					<h3><%= cls.title %></h3>
					<p><%#= truncate(cls.description, 480, "<br/><a href='#' class='more_info' rel='#cls_#{cls.id}'>More...</a>") %>
						<%= cls.description %></p>
					</p>
				</div>
			<% end -%>
		</div> <!-- /items -->
	</div><!-- /scrollable -->
	<a class="next_horizontal browse right">Next >></a>
</div> <!-- /page -->