<div id="intro_home_page">
	Translated from Chinese. 
	Qi (sometimes spelled Chi) means simply, life-energy force or
	universal energy. If your Qi is strong. the
	physical body is healthy and can manifest a lot
	of power and strength. At the same time.
	working your body should be an invigorating
	fun activity. MonQi Fitness seeks to combine
	the lighthearted aspect of exercising with the
	energy force necessary for a healthy body
	and mind.
</div>

<div id="intro_hours">

</div>

<div id="lower_corner_box">
Buy a 20-pack of group classes at the regular rate and get 1 class free! (you must print out this page in order to get special - expires on 1.31.10)
</div>
