<div class="page">
	<% if admin? %>
		<%= link_to image_tag("icons/money_dollar.png") + "Edit Packages Rates", package_templates_path %>
	<% end %>
	<table class="rates_table">
		<tr>
			<th>Package</th>
			<th>Cost</th>
			<th>Expires in*(from date of purchase)</th>
		</tr>
		<% passed_array.each do |rate| %>
		<% unless rate.nil? %>
			<tr>
				<td><%= rate.description %></td>
				<td><%= number_to_currency(rate.cost) %></td>
				<td><%= pluralize(rate.expires_in, 'month') %> </td>
			</tr>
		<% end -%>
		<% end -%>
	</table>
</div>