<style type="text/css" media="screen">
	#main_navi {
		margin-top: -12px !important;
	}
</style>
<!-- main navigator --> 
<ul id="main_navi"> 
  <li><a id="yoga">Yoga</a></li> 
 	<li><a id="cardio">Cardio & Dance</a></li> 
  <li><a id="flex">Flexibility & Strength</a></li> 
</ul>

<div id="main"> <!-- root element for the main scrollable -->
	 <div id="pages">
	 	<%= render :partial => "classes_pages", :locals => {:classes => @yoga} %>
	 	<%= render :partial => "classes_pages", :locals => {:classes => @cardio} %>
	 	<%= render :partial => "classes_pages", :locals => {:classes => @flex} %>		
	 </div>
</div>		


