<!-- main navigator --> 
<ul id="main_navi"> 
  <li><a id="yoga">Yoga</a></li> 
 	<li><a id="cardio">Cardio & Dance</a></li> 
  <li><a id="flex">Flexibility & Strength</a></li> 
</ul>

<div id="main_categories"> 
	 <div id="categories_pages">
	 	<%= render :partial => "classes_pages", :locals => {:classes => @yoga} %>
	 	<%= render :partial => "classes_pages", :locals => {:classes => @cardio} %>
	 	<%= render :partial => "classes_pages", :locals => {:classes => @flex} %>		
	 </div>
</div>		

