<%= javascript_include_tag "jquery.history", "jquery.form", "jquery.validate", "jquery.form.wizard-2.0.0-RC3-min", "jquery.metadata" %>

<div id="error_box">
	<%= link_to image_tag( "icons/large_error.png",  :size => "24x24", 
														:title => "Close",
														:class => "closebox" ) %>
</div>


<% form_tag(pages_path, :id => "contact_form") do -%>
	<%= hidden_field(:page, :title) %>
	<%= render :partial => "contact_form"  %> 
<% end -%>

<style type="text/css" media="screen">
#body { height: 200px !important;}
.submit_button { margin-left: 558px;}
.page {margin-bottom:80px !important; height: 315px !important;}
p {margin:0 0 0.1em !important;}

textarea {
		height: 60px !important;
		width: 540px !important;
}
	
#navigation{ 
							display:inline;
							float: right;
							margin-top:-60px;
}
	
#error_box {
		background-color:#FDFCFA;
		border: 1px solid black;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		left:157px;
		position:absolute;
		top: -75px;
		padding:17px;
		list-style: none;
}

.closebox { 		
		right:-12px;
		top:-14px;
}
		
.error {
	border-color: #FDFCFA;
	border:2px solid #DDDDDD;
	margin-bottom: 5px;
	padding:0;
}

</style>
<script type="text/javascript" charset="utf-8">
$('#error_box').hide();

$('.closebox').bind('click', function(event) {
	$('#error_box').fadeOut('fast');
	return false;
});

	$("#contact_form").formwizard({ 
      validationEnabled: true,
			focusFirstInput: true,
			textSubmit: 'contact us'
		},{
       //validation settings
			onkeyup: false,
			errorLabelContainer: "#error_box",
			wrapper: "li",
			rules: {
							first_name: { required: true, minlength: 2 },
							last_name: { required: true, minlength: 2 },
							email: { required: true, email: true },
							subject: {required: true},
							body: {required: true, minlength: 10}
			 // End Rules
			},
			messages: {
				     		first_name:{
														required: "First name required",
				        						minlength: jQuery.format("First name has to be at least {0} characters!")
				     		},
								last_name:{
				       							required: "Last name required",
				       							minlength: jQuery.format("Last name has to be at least {0} characters!")
				     		},
								email: {
						   					required: "e-mail required",
							 					email: "email address is invalid"
								},
								subject:{ required: "Please add a subject to your message"},
								body: {required: "You didn't compose your message yet",
   										 minlength: jQuery.format("your message has to be at least {0} characters!")
 							  }
			} // End Messages
  });
</script>
