<%= stylesheet_link_tag 'fullcalendar', :cache => true %>
<%= javascript_include_tag 'fullcalendar', :cache => true %>

<style type="text/css" media="screen">
	.fc-event,
	.fc-agenda .fc-event-time,
	.fc-event a {
	    background: transparent url("/images/ical/body.png") repeat scroll 0 0 ; /* background color */
	    border-color: black;     /* border color */
	    color: #444 !important;              /* text color */
	    }
	.fc-event-title {color: white; padding:3px;}
	.fc-event-vert span.fc-event-time {text-align: center; font-size: 17px;}
	.fc-event {height: 82px !important; margin-left:3px;}
	
	.class_level { font: 75% Verdana, sans-serif;}
	.class_title {font-style: italic; font-weight: bold;}
	
	#top_content_page {
		width: 880px !important;
		height: 920px !important;
		margin-left: 19px !important;
	}
	
	.wc-cal-event .wc-time {
	font-size:11px !important;
	font-weight:bold;
	padding:10px 0 !important;
	}
	
	.wc-cal-event .wc-title {
	font-size:17px !important;
	padding:10px 0 !important;
	position:relative;
	}
</style>
	<script type='text/javascript'>
	$(document).ready(function() {
			$('#lower_corner_box').remove();
			$('#calendar').fullCalendar({
				header: {
								left: 'prev,next today',
								center: 'title',
								right: 'agendaWeek,agendaDay'
							},
			defaultView: 'agendaWeek',
			firstDay: 1,
			//firstHour: <%= @now %>,
			minTime: 6,
			maxTime: 22,
			events: 'schedule_feed',
			slotMinutes: 15,
			eventRender: function(event, element) {
			        $('.fc-event-title').html('<span class="class_level">'+ event.level + '</span>' +
																				'<span class="class_title">' + 	event.title + '</span>' +
																				'<span class="instructor">' + event.instructor + '</span>');
			    }
			
			})
		
	});
</script>
<div id="calendar"></div>
