<%= stylesheet_link_tag 'fullcalendar', :cache => true %>
<%= javascript_include_tag 'fullcalendar', :cache => true %>

<style type="text/css" media="screen">
	.fc-event,
	.fc-agenda .fc-event-time,
	.fc-event a {
	    background-color: #604E49; /* background color */
	    border-color: black;     /* border color */
	    color: #C1966E;              /* text color */
	    }
	.fc-event-title {color: white;}
	
	#top_content_page {
		width: 880px !important;
		margin-left: 19px !important;
	}
	
	.wc-cal-event .wc-time {
	font-size:11px !important;
	font-weight:bold;
	padding:10px 0 !important;
	}
	
	.wc-cal-event .wc-title {
	font-size:17px !important;
	padding:10px 0 !important;
	position:relative;
	}
</style>
	<script type='text/javascript'>
	$(document).ready(function() {
			$('#lower_corner_box').remove();
			$('#calendar').fullCalendar({
				header: {
								left: 'prev,next today',
								center: 'title',
								right: 'month,agendaWeek,agendaDay'
							},
			defaultView: 'agendaWeek',
			firstDay: 1,
			height: 340,
			firstHour: <%= @now %>,
			minTime: 6,
			maxTime: 22,
			events: 'schedule_feed',
			slotMinutes: 15
			})
		
	});
</script>


<div id="calendar">
	
</div>