 <% form_tag(:action => "pt_request") do %>
<div id="main"> 
	<div id="pages">
		<div class="page">
			<%= @page.body %><br/>
			<a class="next_page">Personal Trainer Request Form</a>
		</div><!-- /page -->
			<%= render :partial => "pt_request" %>
	</div><!-- /pages -->
</div><!-- /main -->
<a class="prev_page">Back</a> 
<a class="next_page">Next</a>
<% end -%>

<style type="text/css" media="screen">
	#main {height: 320px !important;}
	.page {margin-bottom:80px !important; height: 315px !important;}
</style>