<div id="current_date"><%= Date.today.strftime('%A, %B %d %Y') %></div>
<%- if admin? -%>
	<h3 id="set_new_schedule"><%= link_to "Set new schedule", new_event_path %></h3>
<% end -%>

<h2><span id="view_title" class="h2bkg"></span></h2>
<div id="classes_table">
	<div id="sun">
		Sun	
		
	</div>
</div>