<%= javascript_include_tag 'schedule', 'date' %>

<%- if admin? -%>
	<%= link_to "Set new schedule", new_event_path %>
<% end -%>
<span id="current_date"><%= Date.today.strftime('%A, %B %d %Y') %></span><span>&nbsp<%= text_field_tag :datepicker,{}, :size => "8	" %></span>

<div id="navigator">
	<span id="day_nav">
		<a class="nav_left nav_arrows" id="prev_day"> << </a> 
		<a id="daily_view">Day</a> 
		<a class="nav_right nav_arrows" id="next_day"> >> </a>
	</span>
	
	<a id="today_view"> Today </a>
	<span id="week_nav">
		<a class="nav_left nav_arrows" id="prev_week"> << </a> 
		<a id="weekly_view">Week</a> 
		<a class="nav_right nav_arrows" id="next_week"> >> </a>
	</span>
</div>


<table id="classes_table" class="mainFont" border="0" cellspacing="5" cellpadding="5"></table>


<script type="text/javascript" charset="utf-8">
	fetch_classes($('#current_date').text());
</script>

<style type="text/css" media="screen">
	#navigator {
		text-align: center;		
	}
	
	#week_nav { }
	#day_nav { }

	
	a.nav_arrows {
			text-decoration: none !important;
			background:url(/images/scrollable/arrow/circle_arrows.png) no-repeat;
			width:31px;
			height:32px;
			cursor:pointer;
	}
	
	a.nav_right { background-position: 100% -32px; }
	a.nav_left	{ background-position: 0 -32px; }
	
	 .mainFont {
		color: #333333;
		font-family: Tahoma, Arial;
		font-size: 13px;
		font: normal;
	}
	 #classes_table { border-collapse: collapse;}
	 tr.even td{background-color:#fafafa;}
	 tr.odd td{background-color:#f2f2f2;}
	 tr td {border-bottom: 1px solid #CCCCCC;}
	.headerText{
		color:#B2C78F;
		font-size:18px;
		line-height:normal;
	}
	.smallHeader{
		color:#000000;
		font-size:10px;
		line-height:normal;
	}
	.smallText {color:#776441;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	line-height:normal;}
	
	#current_date  {
	color: orange;
	font-family:Trebuchet MS,Helvetica,Arial,Sans-Serif;
	font-size:16px;
	}
	
	a { color: #333 !important; font-size: 100% !important; text-decoration: underline !important;}
	a:hover {color: brown !important; font-weight: normal !important;}
</style>