<span id="current_date"><%= Date.today.strftime('%A, %B %d %Y') %></span>
<span>&nbsp;<label for="datepicker"></label><%= text_field_tag :datepicker,{}, :size => "8" %></span>

<div id="navigator">
	<span id="day_nav">
		<a href="#" class="nav_left nav_arrows" id="prev_day"> &lt;&lt; </a> 
		<a href="#" id="daily_view">Day</a> 
		<a href="#" class="nav_right nav_arrows" id="next_day"> &gt;&gt; </a>
	</span>
		<a href="#" id="today_view">Today</a>
	<span id="week_nav">
		<a href="#" class="nav_left nav_arrows" id="prev_week"> &lt;&lt; </a> 
		<a href="#" id="weekly_view">Week</a> 
		<a href="#" class="nav_right nav_arrows" id="next_week"> &gt;&gt; </a>
	</span>
	<h1><h2><span id="view_title" class="h2bkg"></span></h2></h1>
</div>
<div id="classes_table"></div>