<% unless @staging %>

<div id="instructors_staff_list">
	<h4>Group Fitness Instructors</h4>
	<% @group_trainers.in_groups_of(15).each do |grp_chunk| %>
		<ul class="left"> 
			<% grp_chunk.each do |instructor| %>
				<% unless instructor.nil? %>
				<li><%= link_to instructor.full_name.capitalize, "#", :rel => "instructor_#{instructor.id}", :class => "staff_links", "data-instructor"  => instructor.id %></li>
				<% end -%>
 			<% end -%>
		</ul>
	<% end -%>
</div>


<div id="pt_staff_list">
	<h4 class="clear">Personal Trainers</h4>
<% @personal_trainers.in_groups_of(15).each do |grp_chunk| %>
	<ul class="left"> 
		<% grp_chunk.each do |personal| %>
			<% unless personal.nil? %>
			<li><%= link_to personal.full_name.capitalize, "#", :rel => "personal_#{personal.id}", :class => "staff_links", "data-instructor"  => personal.id %></li>
			<% end -%>
		<% end -%>
	</ul>
<% end -%></div>
<% end -%>