<div id="instructors_staff_list">
	<h4>Group Fitness Instructors 
		<% if admin? %>
			- <%= link_to "Edit Instructors", role_people_path(@instructor_role) %>
		<% end -%>
	</h4>
	<% @group_trainers.in_groups_of(15).each do |grp_chunk| %>
		<ul class="left"> 
			<% grp_chunk.each do |instructor| %>
				<% unless instructor.nil? %>
				<li><%= link_to instructor.full_name, "#", :rel => "instructor_#{instructor.id}", :class => "staff_links", "data-instructor"  => instructor.id %></li>
				<% end -%>
 			<% end -%>
		</ul>
	<% end -%>
</div>


<div id="pt_staff_list">
	<h4 class="clear">Personal Trainers
			<% if admin? %>
				- <%= link_to "Edit Personal Trainers", role_people_path(@pt_role) %>
			<% end -%>
	</h4>
<% @personal_trainers.in_groups_of(15).each do |grp_chunk| %>
	<ul class="left"> 
		<% grp_chunk.each do |personal| %>
			<% unless personal.nil? %>
			<li><%= link_to personal.full_name, "#", :rel => "personal_#{personal.id}", :class => "staff_links", "data-instructor"  => personal.id %></li>
			<% end -%>
		<% end -%>
	</ul>
<% end -%>
</div>
