<p>
  <strong>References:</strong><%=h @phone_number.location %>
</p>
<p>
  <strong>Number:</strong><%=h @phone_number.phone_number %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to :back %>