<div class="add_member_combo">
	<div class="member_auto_complete_left"></div>
	<div class="auto_complete_field"></div> 
	<div class="member_auto_complete_right"></div>
	<div class="left" style="padding-left: 10px;">
		<a class="add_to_class_btn" href="#" onclick="$.post('add_member_to_class',{member_id: member_id, event_id: <%= event.id %>},function(){},'script');">
			Add to class
		</a>
	</div>
</div>