	<% @picture.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
    <% unless @page.nil?
    	@page_value = @page.id
		else
			@page_value = params[:page_id]
    end %>
		<%= f.hidden_field :page_id, :value =>  @page_value %>
  <p>
  	Picture: <%= f.file_field :photo, :size => "20" %>
  </p>
