<div class="body">
<ul id="pkg_types_ul">
	<% PackageType.all.each do |pkg| %>
	<li><%= link_to pkg.name, '#', :class => 'pkg_type_selector', "data-pkg_type" => pkg.name.to_s %></li>
	<% end -%>
</ul>
<%- unless @package_templates.empty? -%>
  <div id="pt_table">
	<%= render :partial => "package_templates_table", :locals => {:package_templates => @package_templates} %>
  </div>

<%- else -%>
	No Packages Templates Yet.
<%- end -%>

<br/>
<%= button_to 'New Package Template', new_object_url %>
</div>