<%= stylesheet_link_tag 'application', "themes/redmond/jquery-ui-1.7.1.custom", "jquery.timepickr", 'pagination' %>
<%= javascript_include_tag "jquery", "jquery-ui-1.7.1.custom.min", "jquery.timepickr", "ui.timepickr.min" , "application" %>
<%= yield -%>